.primary-root {
    -fx-background-color: -color-bg;
    -fx-padding: 40;
}

.primary-root .label {
    -fx-text-fill: -color-text;
}

.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.primary-root .button {
    -fx-background-color: -color-accent;
    -fx-text-fill: -color-text;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-min-width: 100;
}
